@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap.');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(45deg, #e65763, #080808);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 450px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px grey;
    padding: 15px;
    position: relative;
}

.header{
    position: absolute;
    top: -50%;
    color: #f3eaeb;
    font-size: 1.5rem;
    left: 25%;
}

#input{
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    outline: none;
}

#input:focus{
    border-color: #e65763;
}

#search{
    background-color: #e65763;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 10px;
}