@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap.');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(45deg, #fdf1cb, #b01041);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 400px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.header{
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 2rem;
    font-weight: bold;

}

#textarea{
   width: 90%;
   height: 200px;
   padding: 10px;
   margin-bottom: 10px;
   border-radius: 10px;
}

button{
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #b01041;
    cursor: pointer;
    color: white;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

